p {
  font-family: "Roboto";
  font-weight: normal;
}

h4 {
  font-family: "Shrikhand";
}

html {
  height: 100%;
  background-color: #F2F2F2;
}

footer, footer a {
  background-color: #333333;
  color: whitesmoke;
}

.card {
  background-color: #99E2D0;
}

.card--img {
  width: 305px;
  height: 150px;
}
