@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";

@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/form";


@import "./pages/work";
@import "./pages/about";
@import "./pages/project";



$primarycolor : #9356DC;
$secondecolor : #FF79DA;
$tercolor : #99E2D0;
$fondgriscolor : #F2F2F2;
$fondfooter:#333333;

p 
{
  font-family: "Roboto";
  font-weight: normal;
}

h1, h4
{
font-family: "Shrikhand";
}

html {
  height: 100%;
  background-color: $fondgriscolor;
}


footer , footer a
{
background-color: $fondfooter;
color: whitesmoke;
}


.card {
  background-color: $tercolor;
}

.card--img , .cardrest--img {
  
  width: 320px;
  height: 150px;

}