@import "./01base/base";
@import "./01base/typography";
@import "./01base/normalize";

@import "./02utils/variables";
@import "./02utils/functions";
@import "./02utils/mixins";
@import "./02utils/extensions";

@import "./03layout/header";
@import "./03layout/nav";
@import "./03layout/container";
@import "./03layout/form";

@import "./04components/buttons";
@import "./04components/loader";

@import "./05pages/work";
@import "./05pages/about";
@import "./05pages/project";

@import "./06themes/theme" ;

@import "./07vendors/vendors" ;


.nosrestaurants p {
	padding: 0 10px 0 10px;
	font-weight: 300;
	font-style: normal;
}
.rest {
  z-index: 1;
  animation-duration: 5500ms;
  animation-name: anim;
}

.logo {
	align-items : center ;
	width : 160px;
}
.logofooter {
	align-items: center;
	width: 150px;
	filter: invert(100%);
	margin-bottom: 15px;
}
header {
	text-align: center;
	padding: 20px 0 15px 0;
	box-shadow: 0px 3px 6px 0px rgb(89 89 89 / 64%);
}

.localisation {
	border: none;
	background-color : #eaeaea;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}
.search i {
	display: flex;
	justify-content: center;
	align-items: center;

}

.search {
	align-items : center ;
	display : flex ;
	justify-content : center ;
	background-color : #eaeaea;
	padding: 15px 0 15px 0;
	position: relative;
	color: #353535;
	font-weight: bold;
}

.nosrestaurants {
	height: 100%;
	background-color: #f6f6f6;
	border: 1px solid #f6f6f6;
	text-align: center;
	padding-bottom: 20px;
}
.searchbutton {
	border-radius: 20px;
	font-size: 1.5em;
	color: white;
	font-size: 0.9em;
	margin-bottom: 20px;
	background: linear-gradient( $couleurSecondaire, $couleurPrimaire);
	margin-top: 20px;
	border: none;
	box-shadow: 3px 3px 10px #bfbfbf;
	padding: 15px 20px 15px 20px;
}
.searchbutton:hover {
	opacity: 0.8;
}
.search .fas {
	margin-right: 10px;
}
.icontextfilters {
  font-weight: bold;
  margin-bottom: 1.5vmax;
  background-color: #f2f2f2;
  padding: 30px 20px 30px 20px;
  border-radius: 20px;
  display: flex;
  position: relative;
  width: 250px;
  color: black;
  margin: 1em;
  box-shadow: 3px 3px 10px #bfbfbf;
}

.icontextfilters:hover {
	background-color: #f2eafb;
	color: $couleurPrimaire;
}
.filterdescription {
	color: black;
	margin: auto;
}


.number {
	border: 1px solid;
	border-radius: 50%;
	padding: 2px 7px 2px 7px;
	background-color: $couleurPrimaire;
	color: white;
	left: -12px;
  top: 27px;
  position: absolute;
  margin-right: 1em;
}
.fonctionresto {
	display: inline-flex;
	padding: 0 20px 0 20px;
	margin: auto;

}
.category-head {
  display: flex;
  justify-content: center;
  align-items: center;
 	flex-direction: column;
}
.filters {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}
h2 {
	margin-left: 30px;
	margin-top: 50px;
}
footer {
	display: flex;
	flex-direction: column;
	height: auto;
	background-color: #353535;
	color: white;
	padding: 20px 0 20px 20px;
	margin: 0;
}
.iconresto,
.restofooter {
	display: inline-flex;
}
.heartresto {
  	display: inline-block;
  	font-style: normal;
  	position: relative;
  	margin-right: 40px;
  	top: 20px;
}
.iconresto .fas {
	position: relative;
}
.heartresto .fas {
	opacity: 0;
	transition: opacity 400ms ease-in-out;
}
.heartresto .fas:hover{
 	background: linear-gradient($couleurPrimaire, $couleurSecondaire);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   display: initial;
   opacity: 1;
}
.heartresto:hover .far  {
   display: none;


}
.heartresto .fas,
.heartresto .far {
	position: absolute;
	font-size: 1.5em;
}

.iconresto {
  display: inline-block;
  font-style: normal;
  position: relative;
  font-size: 1em;
}
.container {
	color: #000000;
	font-size: 20px;
	background-color: #F2F2F2;
	padding: 0 20px 0 20px;
	flex-direction: column;
	-webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  justify-content: center;
}
#restaurants {
	font-weight: bolder;
}
.restosection {
	margin-bottom: 10px;
	justify-content: center;
	gap: 1%;
	flex-direction: column;
	-webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  justify-content: center;
}
.newbox {
	display: flex;
  margin: auto;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.new {
  background-color: #71d7be;
  color: #278870;
  position: absolute;
  height: 25px;
  width: 80px;
  border-radius: 3px;
  z-index: 1;
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 5%;
  align-items: center;
  font-weight: 900;
  font-size: 0.8em;

}

.imgresto {
	object-fit: cover;
	padding-bottom: 0;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin: 0;
	height: 190px;
	width: 100%;
	position: relative;
}
.boxresto {
	border: 1px solid;
	border-radius: 20px;
	background-color: #ffffff;
	border-color: #ffffff;
	box-shadow: 0 0 6px 3px #b1b1b14b;
	margin-bottom: 20px;
	height: 100%;
	width: 100%;
	position: relative;
}

h4 {
	padding: 12px 0 0 8px;
	font-weight: bold;
	display: flex;
	color: black;
	font-size: 1em;
}
.textresto p {
	padding: 5px 0 8px 8px;
	font-weight: 300;
	font-style: normal;
	font-size: 0.9em;
}

.restopart {
	display: flex;
	justify-content: space-between;
	padding-right: 15px;
	padding-top: 5px;
	margin: 0;
}
.proposer,
.contact,
.partenaire,
.mentions {
	margin-bottom: 10px;
}
h5 {
	font-weight: 400;
	font-style: normal;
}
.iconresto {
	margin-right: 5px;
}


@media screen and (min-width: 768px) {
	.restosection {
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3%;
    align-items: center;

	}
	.container {
		display: flex;
		align-items: center;
	}
	.imgresto {
		height: 20vw;
	}
	.boxresto {
		height: auto;
		width: 40vw;
	}
	.textresto {
		padding-bottom: 10px;
	}
	h2 {
		text-align: center;
	}
}
@media screen and (min-width: 1200px) {
	.restosection {
		margin-bottom: 50px;
		background-color: #f2f2f2;
	}
	.category-head {
		justify-content: center;
		flex-direction: row;
	}
	
}
