@import "./01base/base";
@import "./01base/typography";
@import "./01base/normalize";

@import "./02utils/variables";
@import "./02utils/functions";
@import "./02utils/mixins";
@import "./02utils/extensions";

@import "./03layout/header";
@import "./03layout/nav";
@import "./03layout/container";
@import "./03layout/form";

@import "./04components/buttons";
@import "./04components/loader";

@import "./05pages/work";
@import "./05pages/about";
@import "./05pages/project";

@import "./06themes/theme";

@import "./07vendors/vendors";


.nosrestaurants p {
	padding: 0 10px 0 10px;
	// font-weight: 300;
	font-style: normal;
}

.rest {
	z-index: 1;
	animation-duration: 5500ms;
	animation-name: anim;
}

.logo {
	align-items: center;
	width: 160px;
}

.logofooter {
	align-items: center;
	width: 150px;
	filter: invert(100%);
	margin-bottom: 15px;
}

header {
	text-align: center;
	// display: flex;
	// justify-content: center;
	padding: 20px 0 15px 0;
	box-shadow: 0px 3px 6px 0px rgb(89 89 89 / 64%);
}

.localisation {
	border: none;
	background-color: #eaeaea;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.search i {
	display: flex;
	justify-content: center;
	align-items: center;

}

.search {
	align-items: center;
	display: flex;
	justify-content: center;
	background-color: #eaeaea;
	padding: 15px 0 15px 0;
	position: relative;
	color: #353535;
	font-weight: bold;
}

.nosrestaurants {
	height: 100%;
	background-color: #f6f6f6;
	border: 1px solid #f6f6f6;
	text-align: center;
	padding-bottom: 20px;
}

.searchbutton {
	border-radius: 20px;
	font-size: 1.5em;
	color: white;
	font-size: 0.9em;
	margin-bottom: 20px;
	background: linear-gradient($couleurSecondaire, $couleurPrimaire);
	margin-top: 20px;
	border: none;
	box-shadow: 3px 3px 10px #bfbfbf;
	padding: 15px 20px 15px 20px;
}

.search .fas {
	margin-right: 10px;
}

.icontextfilters {
	font-weight: bold;
	margin-bottom: 1.5vmax;
	background-color: #f2f2f2;
	padding: 30px 20px 30px 20px;
	border-radius: 20px;
	display: flex;
	position: relative;
	width: 250px;
	color: black;
	margin: 1em;
	box-shadow: 3px 3px 10px #bfbfbf;
}

.icontextfilters:hover {
	background-color: #f2eafb;
	color: $couleurPrimaire;
}

.filterdescription {
	color: black;
	margin: auto;
}


.number {
	border: 1px solid;
	border-radius: 50%;
	padding: 2px 7px 2px 7px;
	background-color: $couleurPrimaire;
	color: white;
	left: -12px;
	top: 27px;
	position: absolute;
	margin-right: 1em;
}

.fonctionresto {
	display: inline-flex;
	padding: 0 20px 0 20px;
	margin: auto;

}

.category-head {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 40px;
}

.filters {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

footer {
	display: flex;
	flex-direction: column;
	height: auto;
	background-color: #353535;
	color: white;
	padding: 20px 0 20px 20px;
	margin: 0;
}

.iconresto,
.iconheart,
.restofooter {
	display: inline-flex;
}

.heartresto {
	display: inline-block;
	font-style: normal;
	position: relative;
	margin-right: 40px;
	top: 20px;
}

.titreresto {
	display: flex;
	width: 100%;
}

.titreresto h1 {
	font-size: 1.2em;
	font-family: "Shrikhand", sans-serif;
	font-weight: normal;

}


.iconresto .fas {
	position: relative;
}

.heartresto .fas {
	opacity: 0;
	transition: opacity 400ms ease-in-out;
}

.heartresto .fas:hover {
	background: linear-gradient($couleurPrimaire, $couleurSecondaire);
	-webkit-background-clip: text;
	//   pour agir sur le texte c'est a dire le coeur
	-webkit-text-fill-color: transparent;
	display: initial;
	opacity: 1;
}

.heartresto:hover .far {
	display: none;
}

.heartresto .fas,
.heartresto .far {
	position: absolute;
	font-size: 1.5em;
}

.iconresto {
	display: inline-block;
	font-style: normal;
	position: relative;
	font-size: 1em;

}

.container {
	color: #000000;
	font-size: 20px;
	background-color: #F2F2F2;
	padding: 0 20px 0 20px;
	flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	justify-content: center;
}

#restaurants {
	font-weight: bolder;
}

.restosection {
	margin-bottom: 10px;
	justify-content: center;
	gap: 1%;
	flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	justify-content: center;
}

.newbox {
	display: flex;
	margin: auto;
	position: relative;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;
}

.new {
	background-color: #71d7be;
	color: #278870;
	position: absolute;
	height: 25px;
	width: 80px;
	border-radius: 3px;
	z-index: 1;
	display: flex;
	justify-content: center;
	padding: 5px;
	align-items: center;
	font-weight: bold;
	font-size: 0.8em;
	top: 20px;
	right: 20px;

}

.imgresto {
	object-fit: cover;
	padding-bottom: 0;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin: 0;
	height: 174px;
	width: 100%;
	position: relative;
}

.boxresto {

	border-radius: 20px;
	background-color: #ffffff;
	border-color: #ffffff;
	box-shadow: 0 0 6px 3px #b1b1b14b;
	margin-bottom: 20px;
	height: 100%;
	width: 100%;
	position: relative;
}

h4 {
	padding: 12px 0 0 8px;
	font-weight: bold;
	display: flex;
	color: black;
	font-size: 1em;
}

.textresto p {
	padding: 5px 0 8px 8px;
	font-weight: normal;
	font-style: normal;
	font-size: 0.9em;
}

.restopart {
	display: flex;
	justify-content: space-between;
	padding-right: 15px;
	padding-top: 5px;
	margin: 0;

}

.proposer,
.contact,
.partenaire,
.mentions {
	margin-bottom: 10px;
}


.entreeresto:hover p,
.entreeresto:hover h3,
.platresto:hover p,
.platresto:hover h3,
.dessertresto:hover p,
.dessertresto:hover h3 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 80%;
}

h5 {
	// font-weight: 400;
	font-style: normal;
}

.iconresto {
	margin-right: 5px;
}


.fleche {
	position: absolute;
	left: 1.5em;
	top: 1.6em;
}

.container {
	background-color: #f6f6f6;
	display: flex;
	margin-bottom: 10px;
	flex-direction: column;
	border: 1px solid #f6f6f6;
	margin-top: -30px;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	position: relative;
	padding: 0 10px 0 10px;
}

.entreeresto,
.platresto,
.dessertresto {
	border-radius: 20px;
	background-color: #ffffff;
	height: 70px;
	box-shadow: 0 0 6px 3px #b1b1b14b;
	margin: 10px 0 10px 0;
	display: flex;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.imgpalette {
	background-image: url("../../images/restaurants/01palettedugout.jpg");
}

.imgdelice {
	background-image: url("../../images/restaurants/04ledelicedessens.jpg");
}

.imgfrancaise {
	background-image: url("../../images/restaurants/03alafrancaise.jpg");
}

.imglanote {
	background-image: url("../../images/restaurants/02noteenchante.jpg");
}

.imglanote,
.imgdelice,
.imgpalette,
.imgfrancaise {
	background-size: cover;
	background-position: center center;
	height: 50vw;
	width: 100%;
}

.entrees,
.plats,
.desserts {
	flex-direction: column;
	display: flex;
	margin-bottom: 30px;
	width: 100%;
}

/* On commence l'animation des plats qui arrivent */

.entreeresto {
	animation: deplacement 500ms both ease-in-out;
}

.platresto {
	animation: deplacement 1000ms both ease-in-out;
}

.dessertresto {
	animation: deplacement 1500ms both ease-in-out;
}

@keyframes deplacement {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* le délai pour ca a affiner  */
.entreeresto:first-of-type(1) {
	animation-delay: 0s;
}

.entreeresto:nth-of-type(2) {
	animation-delay: 0.5s;
}

.entreeresto:nth-of-type(3) {
	animation-delay: 1s;
}

.entreeresto:nth-of-type(4) {
	animation-delay: 1.5s;
}

.platresto:first-of-type(1) {
	animation-delay: 0s;
}

.platresto:nth-of-type(2) {
	animation-delay: 0.5s;
}

.platresto:nth-of-type(3) {
	animation-delay: 1s;
}

.desserteresto:first-of-type(1) {
	animation-delay: 0s;
}

.dessertresto:nth-of-type(2) {
	animation-delay: 0.5s;
}

.dessertresto:nth-of-type(3) {
	animation-delay: 1s;
}


p {
	display: inline-block;
}


.line {
	width: 45px;
	margin: 0;
	background-color: #99E2D0;
	height: 3px;
	margin-top: -10px;
}

.price {
	flex: min-content;
	display: flex;
	padding-top: 39px;
	font-family: 'Roboto', sans-serif;
	transition: flex 500ms linear;
	font-size: 0.8em;
	font-weight: bold;

}


.searchbutton:hover {
	opacity: 0.8;
}

.container a {
	width: 100%;
	display: flex;
	justify-content: center;
}

.text {
	margin: 0;
	flex: 1 1 80%;
	transition: flex 500ms linear;

}

.rotate {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	color: transparent;
	right: -50px;
	top: 0;
}

.rotate i {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	color: transparent;
	font-size: 20px;
}

// En dessous c'est pour bouger boite verte qui contient la checkbox
.entreeresto:hover  .rotate  {
	right: -40px;
	color: white;
	background-color: #99E2D0;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	width: 50px;
	height: 100%;
	transition: transform 0.6s ease-in-out;
	transform: translateX(-2em);
	box-shadow: 3px 2px 2px 3px #99E2D0;
}

// la jessaie de le bouger au clic et il veut pas 
.entreeresto:active .rotate {
	right: -40px;
	color: white;
	background-color: #99E2D0;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	width: 50px;
	height: 100%;
	transition: transform 0.6s ease-in-out;
	transform: translateX(-2em);
	box-shadow: 3px 2px 2px 3px #99E2D0;
}

.entreeresto:hover .rotate i {
	right: 0;
	color: white;
	transition: 1s ease-in-out;
	transform: rotate(360deg);
}

.entreeresto:hover .price {
	transition: transform 1s ease-in-out;
	transform: translateX(-2em);
}

.entreeresto .price {
	transition: 1s ease-in-out;
}


.platresto:hover .rotate {
	right: -40px;
	color: white;
	background-color: #99E2D0;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	width: 50px;
	height: 100%;
	transition: transform 0.6s ease-in-out;
	transform: translateX(-2em);
	box-shadow: 3px 2px 2px 3px #99E2D0;

}

.platresto:hover .rotate i {
	right: 0;
	color: white;
	transition: 1s ease-in-out;
	transform: rotate(360deg);

}

.platresto:hover .price {
	transition: transform 1s ease-in-out;
	transform: translateX(-2em);
}

.platresto .price {
	transition: 1s ease-in-out;
}

.platresto .rotate {
	transition: 1s ease-in-out;
}

// les blocks vert bougent et met le right et la vitesse
.dessertresto:hover .rotate {
	right: -40px;
	color: white;
	background-color: #99E2D0;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	width: 50px;
	height: 100%;
	transition: transform 0.6s ease-in-out;
	transform: translateX(-2em);
	box-shadow: 3px 2px 2px 3px #99E2D0;
}

.dessertresto:hover .rotate i {
	right: 0;
	color: white;
	transition: 1s ease-in-out;
	transform: rotate(360deg);

}

.dessertresto:hover .price {
	transition: transform 1s ease-in-out;
	transform: translateX(-2em);
}

.dessertresto .price {
	transition: 1s ease-in-out;
}

.dessertresto .rotate {
	transition: 1s ease-in-out;
}

.restaurant h3 {
	padding: 15px 0 0 10px;
	font-size: 1em;
}

.restaurant p {
	padding: 5px 0 10px 10px;
	font-size: 0.8em;
}

@media screen and (min-width: 768px) {
	.restosection {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: 3%;
		align-items: center;
	}

	.container {
		display: flex;
		align-items: center;
	}

	.imgresto {
		height: 20vw;
	}

	.boxresto {
		height: auto;
		width: 40vw;
	}

	.textresto {
		padding-bottom: 10px;
	}


	.imglanote,
	.imgdelice,
	.imgpalette,
	.imgfrancaise {
		height: 30vw;
	}
}

@media screen and (min-width: 1200px) {


	.restosection {
		margin-bottom: 50px;
		background-color: #f2f2f2;
	}

	.category-head {
		justify-content: center;
		flex-direction: row;
	}

	.restaurant {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 2%;
	}

	.entrees,
	.plats,
	.desserts {
		width: 100%;
	}

	.searchbutton {
		justify-content: center;

	}


	.entreeresto:hover .rotate,
	.platresto:hover .rotate,
	.dessertresto:hover .rotate {
		width: 20%;
	}


}