@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";

@import "./base/base";
@import "./base/typography";
@import "./base/normalize";

@import "./components/buttons";
@import "./components/loader";

@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/form";


@import "./pages/work";
@import "./pages/about";
@import "./pages/project";


html {
  height: 100%;
  // background-color: $fondgriscolor;
}


footer,
footer a {
  background-color: $fondfooter;
  color: whitesmoke;
}

.listcards
{
  background-color: $fondgriscolor;
  padding: 10px;
}

.restaurantlist
{
  background-color: $fondgriscolor;
}

.card {
  background-color: white;
  border-radius: 10px;
  margin-left: 5px;
  width: 97%;
  padding: 0%;
}

.card--img
 {
  width: 100%;
  height: 212px;
  
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;

}