$primarycolor : #9356DC;
$secondecolor : #FF79DA;
$tercolor : #99E2D0;
$fondgriscolor : #F2F2F2;

body {
  font-family: "Shrikhand";
}

html {
  height: 100%;
  background-color: $fondgriscolor;
}

.card {
  background-color: $tercolor;
}

.card--img {
  
  width: 305px;
  height: 150px;
  object-fit: cover;
}