.loader {

  background-image: url("logorond.png");
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  // padding: 0;
  border-radius: 50%;
  border-top: 16px solid lightgrey;
  border-right: 16px solid #99E2D0;
  border-bottom: 16px solid #9356DC;
  border-left: 16px solid #FF79DA;
  width: 200px;
  height: 200px;
  -webkit-animation: spin 3s linear;
  animation: spin 5s linear;
  position: fixed;
  animation-iteration-count: 3;
  animation-duration: 1s;
  pointer-events: none;
  opacity: 0;
  content: "";
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }

  10% {
    transform: rotate(0deg);
    opacity: 1;

  }

  100% {
    transform: rotate(360deg);
    opacity: 1;
    display: none;
  }
}

.rest {
  z-index: 1;
  animation-duration: 5500ms;
  animation-name: anim;
}

@keyframes anim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}