.loader {
    border-radius: 50%;
    border-top: 16px solid lightgrey;
    border-right: 16px solid #99E2D0;
    border-bottom: 16px solid #9356DC ;
    border-left: 16px solid #FF79DA ;
    width: 150px;
    height: 150px;
    -webkit-animation: spin 2s linear ;
    animation: spin 2s linear ;
    position: fixed;
    animation-iteration-count: 1;
    animation-duration: 2300ms;
    pointer-events: none;
    opacity: 0;
    content: "";
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }


  .logofred {
    background-image: url("logoprovisoire.jpg");
    // background-repeat: no-repeat;
    width: 20;
    height: 300px;
    padding: 0;
}
  
  @keyframes spin {
    0% { 
        transform: rotate(0deg);
        opacity: 1;
    }
    100% { 
        transform: rotate(360deg); 
        opacity: 0;
        display: none;
    }
  }
  .rest {
    z-index: 1;
    animation-duration: 5500ms;
    animation-name: anim;
  }
  @keyframes anim {
    0% { 
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
  }