


// Mon .loader a voir avec hugo comment ne pas le faire tourner
// je parle de mon logo uniquement


.loader {

  background-image: url("logorond.png");
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-top: 16px solid lightgrey;
  border-right: 16px solid #99E2D0;
  border-bottom: 16px solid #9356DC;
  border-left: 16px solid #FF79DA;
  width: 200px;
  height: 200px;
  -webkit-animation: spin 5s linear;
  animation: spin 1s linear;
  position: fixed;
  animation-iteration-count: 5;
  animation-duration: 0.7s;
  pointer-events: none;
  opacity: 0;
  content: "";
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }

  40% {
    transform: rotate(0deg);
    opacity: 1;

  }

  100% {
    transform: rotate(360deg);
    opacity: 1;
    display: none;
  }
}

.rest {
	// On met en avant l'animation
	z-index: 10;
	animation-duration: 10000ms;
	animation-name: anim;
}

@keyframes anim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}