a {
	color: inherit;
	text-decoration: none;
}

h3,
p,
h5 {
	margin: auto;

}

h1 {
	color: #353535;
	font-size: 2.3em;
	padding: 15px 30px 0 30px;
	font-weight: bolder;
}

h2 {
	font-family: "Roboto", sans-serif;
	text-align: left;
	font-size: 18px;
	font-weight: normal;
}

h3 {
	font-family: 'Roboto', sans-serif;
	word-wrap: break-word;
	white-space: normal;
	font-size: 24px;
	margin: 40px;
}

h4 {
	font-family: 'Roboto', sans-serif;
	text-align: left;
	padding-left: 70px;
	font-weight: bold;
	display: flex;
	color: black;
	font-size: 1.3em;
}

h5 {
	font-family: 'Roboto', sans-serif;
	padding: 5px 0 8px 8px;
	font-size: 18px;
}

p {
	font-family: 'Roboto', sans-serif;
	word-wrap: break-word;
	white-space: normal;

}

.container h3 {
	font-family: "Roboto", sans-serif;
	word-wrap: break-word;
	white-space: normal;
	font-size: 24px;
	margin: 0px;
	padding: 30px 0px 30px 0px;

}