
a {
	color: inherit;
	text-decoration: none;
	
}
h3,h4,p,h5 {
	margin: auto;
	// margin: 0;
}
h1 {
	font-family: 'Shrikhand', cursif;
	color: #353535;
	text-align: center;
	font-size: 1.7em;
	padding: 15px 30px 0 30px;
	font-weight: bolder;
}

h3,
p,
h5,
h2 {
	font-family: 'Roboto', sans-serif;
}

h3,
p {
	word-wrap: break-word;
	white-space: normal;
}